<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CCBuilder Mk.2 | Build</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" sizes="32x32" />
    <script type="text/javascript" src="{{ url_for('static', filename='elm/builder.js') }}"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <script type='text/javascript' src="{{ url_for('static', filename='javascript/bio-pv.min.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='javascript/FileSaver.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Russo+One|Source+Code+Pro" rel="stylesheet">
</head>
<body>
</body>
<div id="main"></div>
<script type="text/javascript">
    var node = document.getElementById('main');
    var app = Elm.Builder.embed(node);
    var viewer;

    // Elm handles the initialisation of the viewer to ensure the DOM element is available
    app.ports.initialiseViewer.subscribe(
        function () {
            var options = {
                width: 'auto',
                height: 'auto',
                antialias: true,
                quality : 'medium'
            };
            // insert the viewer under the Dom element with id 'gl'.
            viewer = pv.Viewer(document.getElementById('viewer'), options);
            window.onresize = function(event) {
                viewer.fitParent();
            }
        }
    );

    app.ports.showStructure.subscribe(
        function (pdbString) {
            if (viewer.get('structure')) {
                viewer.rm('structure');
            }
            var structure = pv.io.pdb(pdbString);
            viewer.ballsAndSticks('structure', structure);
            viewer.cartoon('structure', structure, { color: pv.color.byChain() });
            viewer.fitTo(structure);
        }
    );

    app.ports.showAxes.subscribe(
        function () {
            console.log(viewer.get('axes'));
            if (viewer.get('axes')) {
                viewer.rm('axes')
                viewer.requestRedraw();
            }
            else {
                var axes = viewer.customMesh('axes');
                axes.addTube([0, 0, 0], [10, 0, 0], 0.2, { cap : true, color: 'red' })
                axes.addTube([0, 0, 0], [0, 10, 0], 0.2, { cap : true, color: 'blue' })
                axes.addTube([0, 0, 0], [0, 0, 10], 0.2, { cap : true, color: 'green' })
            }
        }
    );

    app.ports.downloadPdb.subscribe(
        function(filename_text) {
            var filename = filename_text[0];
            var text = filename_text[1];
            var blob = new Blob([text], {
                type: "text/plain;charset=utf-8;",
            });
            saveAs(blob, filename);
        }
    );
</script>
</html>