<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CCBuilder Mk.2 | Build</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" sizes="32x32" />
    <script type="text/javascript" src="{{ url_for('static', filename='elm/builder.js') }}"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <script type='text/javascript' src="{{ url_for('static', filename='javascript/bio-pv.min.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='javascript/FileSaver.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Russo+One|Source+Code+Pro" rel="stylesheet">
</head>
<body>
</body>
<div id="main"></div>
<script type="text/javascript">
    var storedState = localStorage.getItem('ccbmk2-save');
    var startingState = storedState ? JSON.parse(storedState) : null;

    var node = document.getElementById('main');
    var app = Elm.Builder.embed(node, startingState);
    var viewer;
    var currentStructure;

    // Stores the state of the app in local storage
    app.ports.setStorage.subscribe(function(state) {
        localStorage.setItem('ccbmk2-save', JSON.stringify(state));
    });

    // Elm handles the initialisation of the viewer to ensure the DOM element is available
    app.ports.initialiseViewer.subscribe(
        function () {
            var options = {
                width: 'auto',
                height: 'auto',
                antialias: true,
                quality : 'medium'
            };
            // insert the viewer under the Dom element with id 'gl'.
            viewer = pv.Viewer(document.getElementById('viewer'), options);
            window.onresize = function(event) {
                viewer.fitParent();
            }
        }
    );

    app.ports.showStructure.subscribe(
        function (pdbString_repOpts) {
            var pdbString = pdbString_repOpts[0];
            var repOpts = pdbString_repOpts[1];
            currentStructure = pv.io.pdb(pdbString);
            viewer.fitTo(currentStructure);
            showRepresentation(repOpts);
        }
    );

    function showRepresentation(repOpts) {
        viewer.clear();
        viewer.lines('lines', currentStructure);
        if (repOpts.cartoon) {
            viewer.cartoon(
                'cartoon', currentStructure, { color: pv.color.byChain() });
        }
        if (repOpts.trace) {
            viewer.trace('trace', currentStructure, { color: pv.color.byChain() });
        }
        if (repOpts.ballsAndSticks) {
            viewer.ballsAndSticks('ballsAndSticks', currentStructure);
        }
        if (repOpts.spheres) {
            viewer.spheres('spheres', currentStructure);
        }
        if (repOpts.points) {
            viewer.points('points', currentStructure);
        }
    }

    app.ports.showAxes.subscribe(
        function () {
            if (viewer.get('axes')) {
                viewer.rm('axes')
                viewer.requestRedraw();
            }
            else {
                var axes = viewer.customMesh('axes');
                // X
                axes.addTube([0, 0, 0], [10, 0, 0], 0.2, { cap : true, color: 'red' })
                axes.addTube([10, 0, 0], [10, 0, 0.5], 0.2, { color: 'red' })
                axes.addSphere([10, 0, 0.5], 0.2, { color: 'red' })
                axes.addTube([10, 0, 0.5], [11, 0, 0], 0.2, { color: 'red' })
                axes.addSphere([11, 0, 0], 0.2, { color: 'red' })
                axes.addTube([11, 0, 0], [10, 0, -0.5], 0.2, { color: 'red' })
                axes.addSphere([10, 0, -0.5], 0.2, { color: 'red' })
                axes.addTube([10, 0, -0.5], [10, 0, 0], 0.2, { color: 'red' })
                // Y
                axes.addTube([0, 0, 0], [0, 10, 0], 0.2, { cap : true, color: 'green' })
                axes.addTube([0, 10, 0], [0, 10, 0.5], 0.2, { color: 'green' })
                axes.addSphere([0, 10, 0.5], 0.2, { color: 'green' })
                axes.addTube([0, 10, 0.5], [0, 11, 0], 0.2, { color: 'green' })
                axes.addSphere([0, 11, 0], 0.2, { color: 'green' })
                axes.addTube([0, 11, 0], [0, 10, -0.5], 0.2, { color: 'green' })
                axes.addSphere([0, 10, -0.5], 0.2, { color: 'green' })
                axes.addTube([0, 10, -0.5], [0, 10, 0], 0.2, { color: 'green' })
                // Z
                axes.addTube([0, 0, 0], [0, 0, 10], 0.2, { cap : true, color: 'blue' })
                axes.addTube([0, 0, 10], [0.5, 0, 10], 0.2, { color: 'blue' })
                axes.addSphere([0.5, 0, 10], 0.2, { color: 'blue' })
                axes.addTube([0.5, 0, 10], [0, 0, 11], 0.2, { color: 'blue' })
                axes.addSphere([0, 0, 11], 0.2, { color: 'blue' })
                axes.addTube([0, 0, 11], [-0.5, 0, 10], 0.2, { color: 'blue' })
                axes.addSphere([-0.5, 0, 10], 0.2, { color: 'blue' })
                axes.addTube([-0.5, 0, 10], [0, 0, 10], 0.2, { color: 'blue' })
            }
        }
    );

    app.ports.newRepresentation.subscribe(
        function (repOpts) {
            showRepresentation(repOpts);
        }
    );

    app.ports.downloadPdb.subscribe(
        function(filename_text) {
            var filename = filename_text[0];
            var text = filename_text[1];
            var blob = new Blob([text], {
                type: "text/plain;charset=utf-8;",
            });
            saveAs(blob, filename);
        }
    );
</script>
</html>