body {
    color: #3f403f;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: Russo One, sans-serif;
    margin: 0px;
    padding-left: 10px;
}

h2, h3 {
    margin-top: 2px;
    margin-bottom: 0px;
}

table {
    border-collapse: collapse;
}

.builderOverlayPanelCss {
    font-family: Roboto, sans-serif;
    background-color: #ced0ce;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px rgb(100, 100, 100);
}

.builderLeftPanelToggleCss {
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    margin-bottom: 2px;
    border-radius: 0px 5px 5px 0px;
}

.builderLeftPanelToggleCss:hover {
    cursor: default;
}

.builderRightPanelToggleCss {
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    float: right;
    margin-bottom: 2px;
    border-radius: 5px 0px 0px 5px;
}

.builderRightPanelToggleCss:hover {
    cursor: default;
}

.builderParameterInputCss {
    padding-top: 5px;
    padding-bottom: 5px;
}

.builderParameterInputCss > input, .builderParameterInputCss > textarea {
    margin-top: 2px;
}

.builderParameterInputCss > textarea {
    font-family: Source Code Pro, monospace;
    resize: none;
}

.builderFlexContainerCss {
    display: flex;
    flex-direction: row;
}

.builderFlexContainerCss > .builderFlexItemCss {
    flex: none;
}

.builderFlexItemCss {
    padding: 10px;
}

#AppHeaderPanel {
    font-family: Source Code Pro, monospace;
    color: #e6e8e6;
    background-color: #475841;
    box-shadow: 0px 0px 10px 2px rgb(100, 100, 100);
}

#BuildPanel {
    padding-right: 12px;
}

#ExamplesPanel {
    text-align: center;
}

#BuildingStatusPanel {
    text-align: center;
    margin-top: -40px;
    margin-left: -40px;
}

#BuildHistoryPanel > table {
    font-size: 10pt;
}

#BuildHistoryPanel > table > tbody > tr {
    font-family: Source Code Pro, monospace;
}

#BuildHistoryPanel > table > tbody > tr:hover {
    background-color: #9fb8ad;
    cursor: default;
}
