body {
    color: #3F403F;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0 0 0 10px;
}

h2, h3 {
    margin-top: 2px;
    margin-bottom: 2px;
}

table {
    border-collapse: collapse;
}

.overlay-panel {
    font-family: 'Roboto', sans-serif;
    background: #CED0CE;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgba(100,100,100,1);
}

.panel-toggle {
    writing-mode: vertical-rl;
    user-select: none;
    margin-bottom: 2px;
}

.panel-toggle:hover {
    cursor: default;
}

.parameter-input {
    padding-top: 5px;
    padding-bottom: 5px;
}

.parameter-input-box {
    margin-top: 2px;
}

.parameter-history-row {
    font-family: 'Source Code Pro', monospace;
}

.parameter-history-row:hover {
    background-color: #9FB8AD;
    border-color: #9FB8AD;
    cursor: default;
}

#app-header {
    font-family: 'Source Code Pro', monospace;
    color: #E6E8E6;
    background-color: #475841;
    box-shadow: 0 0 10px 2px rgba(100,100,100,1);
}

#command-panel {
    padding-right: 12px;
}

#examples-panel {
    text-align: center;
}

#building-status-panel {
    text-align: center;
    margin-top: -40px;
    margin-left: -40px;
}

#input-box-sequence {
    font-family: 'Source Code Pro', monospace;
    resize: none;
}

#parameter-history-table {
    font-size: 10pt;
}